@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
        justify-content:center;
        align-items: center;
        background: pink;
        max-height: 0ch;
        font-size: large;
        max-width: 100%;

    }   

a{
    text-decoration: none; 
    color: #fff;  
}
a:hover{
    color: #FA292A;
}
.logo{
    margin-top :0px;
    display: flex;
    flex-flow: row wrap;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: black;
    font-size: 1.2vw;
    align-items: center;
    gap: 20px;
    height: 100px;
    position: fixed;
}
img{
   
    max-width: 100%;
}
#log{
    margin-right: 200px;
    max-width: 100%;
    margin-left: 10px;
}

#Home{
    max-width: 100%;
    width: 70;
}
.wrapper{
    float:left;
    margin-right: 100px;
    margin-left: 10px;
    height:590px ;
    padding: 20px;
    background:#B88F5D;
    max-width: 100%;

}
p.pa {
    text-indent: 5%;
    line-height: 30px;
    white-space: 30px;
    margin-left: 00px;
    margin-right: 300px;
    max-width: 100%;
    width: 100%;
    background-color:yellow;
    color:black;
    margin-bottom: 100px;
    padding: 2px;
}
h1{
    text-align: center;
    color: #fff;
}
.foot{
    width: 20px;
}
.icon{
    text-align: center;
    margin-bottom: 70px;
}
footer{
    padding: 0;
    background-color: black;
}
#emai{
    color: blue;
}
@media screen and (max-width: 10px) {
    .wrapper{
      flex: 100%;
      max-width: 100%;
    }
  }