@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
        justify-content:center;
        align-items: center;
        background: violet;
        max-height: 0ch;
        font-size: large;
    }   

a{
    text-decoration: none; 
    color: #fff;  
}
a:hover{
    color: red;
}
.logo{
    margin-top :0px;
    display: flex;
    flex-flow: row wrap;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: black;
    font-size: 1.2vw;
    align-items: center;
    gap: 20px;
    height: 100px;
    position: fixed;
}
img{
   
    max-width: 100%;
}
#log{
    margin-right: 200px;
    max-width: 100%;
    margin-left: 10px;
}

#Home{
    max-width: 100%;
    width: 70;
}
.h4{
    
    margin-left: 60%;
}
.aimage{
        margin-left: 27%;
        margin-right: 5%;   
}
.bimage{
    margin-left:1%;
    margin-top: -12%
}
.bimage a{
    color: white;
    background: black;
}
.imagec{
    margin-left: 8.8%;
}
.facebook a{
    background-color: black;
}
.twiter a{
   background-color: black;
}
.imageb{
    margin-left: 2%;
}
.imaged{
    margin-left: 6.8%;
}
.twiter{
    color:#fff;
    margin-left: 1%;
}
.twiter a{
    color: #fff;
}
.icn{
    margin-left: 60%;
    background-color: black;
}
.quation{
    margin-left: 60%;
}
.h5{
    margin-left: 65%;
    
}
.pa{
    text-indent: 5%;
    line-height: 30px;
    white-space: 30px;
    margin-left: 8%;
    margin-right: 10%; 
    margin-top: 150px;
    font-size: large;
    background: violet;
 

}
.tol{
    background-color: black;
}
h1{
    text-align: center;
    color: #fff;
}
.foot{
    width: 20px;
}
.icon{
    text-align:center;
    margin-bottom: 70px;
    margin-right: 200x;
    color:#fff;
}
footer{
    background: black;
    padding: 0;
}
#emai{
    color:#fff;
}
