@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
        justify-content:center;
        align-items: center;
        background:whitesmoke;
        max-height: 0ch;
    }   

a{
    text-decoration: none; 
    color: #fff;  
}
.logo{
    margin-top :0px;
    display: flex;
    flex-flow: row wrap;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: black;
    font-size: 1.2vw;
    align-items: center;
    gap: 20px;
    height: 100px;
    position:fixed;
}
img{
   
    max-width: 100%;
}
#log{
    margin-right: 200px;
    max-width: 100%;
    margin-left: 10px;
}
#Home{
    max-width: 100%;
    width: 70;
}
#form{
    position: fied;
    margin-top: 5px;
    left:50%;
    transform:translate(-50% -50% );
    max-width: 100%;
    
}
.im{
    margin-top: 300px;
}
p.pa {
    text-indent: 5%;
    line-height: 30px;
    white-space: 30px;
    margin-left: 8%;
    margin-right: 10%;
    position: absolute;
    margin-top: 150px;
    max-width: 100%;
    font-size: large;
}
h2{
    text-align: center;
    position: fixd;
    padding-left: 10%;
    margin-top: 200px;
} 

#sam{
    position:absolute;
    top: 50%;
    left:70%;
    transform:translate(50% 50%
    );
}
.far{
    gap: 200px;
    font-size: 1.2vh;
    display:flex; 
    margin-top: 10px;
    margin-left: 640px;
}

.imga{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.imgn{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
.imgb{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin-left: 760px;
    max-width: 100%;
}
.foot{
    width: 20px;
}
h1{
    text-align: center;
    color: #fff;
}
.icon{
    text-align: center;
    margin-bottom: 70px;
}
footer{
    background:black;
    padding: 0;
}
